<html>
    <head>
        <style type="text/css">
            div { font-family:Arial,Verdana, Sans-Serif; font-size:14px; }
            #mail-message { padding:10px; }
            #mail-footer { padding:10px; }
        </style>
    </head>
    <body>
    <div id="mail-message">
       
    </div>
        <div id="mail-footer">
            <img src="http://deliveriando.apphb.com/Images/DeliveriandoOficialLogo.png" /><br /><br /><br />
         
           Su pedido está listo, puede venir a buscarlo cuando desee !  <br /><br /><br /><br />
            
            

           <br /><br />Gracias por ordenar con nosotros. <br /><br />
            <a href="deliveriando.apphb.com">www.deliveriando.com.do</a>
        </div>
    </body>
</html>