<html>
    <head>
        <style type="text/css">
            div { font-family:Arial,Verdana, Sans-Serif; font-size:14px; }
            #mail-message { padding:10px; }
            #mail-footer { padding:10px; }
        </style>
    </head>
    <body>
    <div id="mail-message">
       
    </div>
        <div id="mail-footer">
            <img src="http://deliveriando.apphb.com/Images/DeliveriandoOficialLogo.png" /><br /><br /><br />
         
           Buenas noticias, su pedido va en camino !  <br /><br /><br /><br />
            
            

           <br /><br />¿Quiere saber dónde esta su pedido?  haga click en link de abajo. <br /><br />
            <a href="deliveriando.apphb.com/Orden/ClienteView">www.deliveriando.com.do/Orden/ClienteView</a>
        </div>
    </body>
</html>