<html>
    <head>
        <style type="text/css">
            div { font-family:Verdana, Arial, Sans-Serif; font-size:10px; }
            #mail-message { padding:10px; }
            #mail-footer { padding:10px; }
        </style>
    </head>
    <body>
    <div id="mail-message">
       
    </div>
        <div id="mail-footer">
            <img src="~/Images/deliberiandoLogo2.png" />
            Su pedido va en camino<br /><br />

            Gracias,<br />
            <a href="http://www.deliveriando.com.do">www.deliveriando.com.do</a>
        </div>
    </body>
</html>