@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h2>Preguntas</h2>
</hgroup>


<br>
<h4 style=" font-weight:bold">¿Qué es Deliveriando?</h4>
<p>Deliveriando es una página en donde podrás  encontrar tus restaurantes  preferidos. Aquí podrás<br>
   ordenar,  seleccionar como quieres pagar, como quieres recibir tu orden y por si fuera poco, ver<br>
   en tiempo real por donde se encuentra tu orden en un mapa. </p><br>

<h4 style=" font-weight:bold">¿Cómo puedo ordenar?</h4>
<p>Es simple, selecciona el restaurante de tu preferencia,  seguidos de los platos que deseas, luego <br>
eliges como quieres pagar y cómo quieres recibir tu orden (Delivery o Takeout) y listo.</p><br>

<h4 style=" font-weight:bold">¿Quién me traerá mi orden?</h4>
<p>Tu orden será llevada por el mismo restaurante en la cual  hiciste el pedido.</p><br>

<h4 style=" font-weight:bold">¿Cuándo sabré si mi orden esta lista?</h4>
<p>En la sección  orden, puede ver el estatus y donde se encuentra tu orden.</p><br>

<h4 style=" font-weight:bold">¿Tengo que pagar algo extra por usar este servicio?</h4>
<p>No, es totalmente gratis!!!</p>

